@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */

body{
  margin: 0 140px;
}

/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo span {
  font-weight: bold;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links a{
  text-decoration: none;

}

.link1 {
 font-weight: bold;
 font-size: 20px;
 color: #FEA301;
}
.link2 {
  font-weight: bold;
  font-size: 20px;
  color: #01ACFD;
 }
 .link3 {
  font-weight: bold;
  font-size: 20px;
  color: #05D4DF;
 }
 .link4 {
  font-weight: bold;
  font-size: 20px;
  color: #5D58EF;
 }

.contact-btn {
  text-decoration: none;
  background-color: #f7b731;
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  max-width: 50%;
  
}

.text-content h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
}

.highlight {
  color: #59a1ff;
}
.highlight1 {
  color: #FEA301;
}

.text-content p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  color: #111111;
}

.enroll-btn {
  margin-top: 20px;
  padding: 10px 45px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  
}

.image-content img {
  max-width: 100%;
  border-radius: 20px;
  padding-left: 50px;
}

/* Hamburger Menu Styling */
.hamburger {
  display: none; /* Default is hidden */
  
}






/* navbar styles */




/* banner styles */






/* responsive media query */
@media screen and (max-width: 576px) {

  body{
    margin: 0 auto;
  
  }
  .image-content img {
    max-width: 100%;
  }
  
  .sclname, .contact-btn, .nav-links{
    display: none;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid orange;
    
  }
  .hamburger{
    display: flex;
    width: 30px;
    height: 30px;
    padding-left: 340px;
  }



  .hero{
    display: flex;
    flex-direction: column-reverse;
  }


 }
  
  
    
  
  
